
<section class="home-section">
    <header class="header-section">
        <nav>
            <div class="logo-division">
                <a class="logo-text" href="/login">To Do List App</a>
            </div>
            <div class="navbar-division">
                {{#each user}}
                <li>
                    <p>Welcome Back {{this.username}}</p>
                </li>
                {{/each}}
                <li>
                    <a href="/createList"> <i class="fas fa-plus-square"></i> Create List </a>
                </li>
            </div>
        </nav>
    </header>
    <div class="title-section">
        <h2>Lists</h2>
    </div>
    <main class="main-section">
        {{#each list}}
        <div class="card">
            <div class="card-header">
                <p class="card-header-title">{{this.list_title}}</p>
                <p class="card-header-description">{{this.description}}</p>
            </div>
            <div class="card-body">
                <ul class="ul-card-body">
                    {{#each this.tasks}}
                    <li>
                        <p class="text-task">
                            <a class="completed-task-button" href=""><i class="far fa-square"></i></a>
                                {{this.task_name}}
                        </p>
                        <a class="delete-task-button" href=""><i class="fas fa-trash-alt"></i></a>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="card-footer">
                <form action="/addTask" method="GET">
                    <input type="hidden" name="id_list" id="id_list" value="{{this._id}}">
                    <button class="add-task-button" type="submit"><i class="fas fa-tasks"></i> Add Task </button>
                </form>
                <form action="/deleteList" method="POST">
                    <input type="hidden" name="_id" id="_id" value="{{this._id}}">
                    <button class="delete-list-button" type="submit"><i class="fas fa-trash-alt"></i> Delete List </button>
                </form>
            </div>
        </div>
        {{/each}}
    </main>
    <footer class="footer">
    </footer>
</section>